.card-img-top{
  height: 500px;
  width: 400px;
}

.EventCard{
  height: 600px;
  width: 450px;
  background-color: darkgray;
  margin: 25px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.edit{
  margin:15px;
}

img{
  height: 300px;
  width:300px;
}

.bs{
  margin:15px;
}