@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

body{
  background-image: url('https://reactnativestarter-hosting-mobilehub-132039435.s3.amazonaws.com/my-dash.lfe(FACEBOOK).png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed
}