// .Profile{
//  display:flex;
//  justify-content: center;
//  background-color: lightgrey;
// }

.pic{
  height: 300px;
  width:300px;
  margin: 15px;
}

// .card-body{
//   background-color: lightgray;
//   width:350px;
//   height: 400px;
  
.view{
  margin:15px;
}

.what{
  background-color: rgba(231, 235, 240, 0.966);
  margin: 50px;
}

.ray{
  margin: 15px;
}