.pic{
  height: 300px;
  width:300px;
}
  
.ray, .login-time{
  color:white;
  padding: 50px;
  
}

.what{
  height: 100%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/my-dash-93e26.appspot.com/o/images%2Fmy-dashbook.png?alt=media&token=346b6af6-5309-4ab0-b765-1da0feac17bc');
  background-repeat:repeat-y;
  background-attachment: fixed
}

.add{
  margin: 20px;
}