.Event{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

// *,html{
//   margin: 0;
// }

// .Event{
//   margin: 0;
//   display: flex;
//   justify-content: space-between;
// }

// .odd{
//   background-color: lightgray;
//   height: 100vh;
//   width: 50%;
//   border-right: 5px dashed black;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }

// .even{
//   background-color: lightgray;
//   height: 100vh;
//   width: 50%
// }