.Event{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: #e9ebee;
  background-image: url('https://sep.yimg.com/ay/yhst-130817123929166/2-rubber-duck-assortment-1.jpg');
}