.EventForm{
  display: flex;
  justify-content: center;
  margin:25px;
 
}

.event-details{
  height: 500px;
  width: 50%;
  border-radius: 15px;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

// #event-summary{
//   height: 100px;
// }