.EventForm{
  display: flex;
  justify-content: center;
  margin:25px;
  opacity: 90%;
}

.event-details{
  height: 500px;
  width: 50%;
  border-radius: 15px;
  // background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.dash{
  background-color:white;
}